<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlickrExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <FlickrExport.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>2999cab8851809c757acfb8d8d671bc1</value>
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value>46f45de9401dac7e</value>
            </setting>
        </FlickrExport.Properties.Settings>
    </userSettings>
</configuration>